* {
    box-sizing: border-box;
  }
  
  :root {
    --color-1: #f0ff1f;
    --color-2: #f56b1c;
    --color-3: #030031;
    --color-4: #171597;
    --color-5: #244dd3;
    --color-6: #521414;
    --color-7: #ac0f0f;
    --color-8: #7a7a7a;
    --color-9: #3b3b3b;
    --color-10: #0c0c0c;
  }